body, html { margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden; background: #000; touch-action: none; font-family: 'Arial Black', sans-serif; }
canvas { display: block; }

/* Menü & Ladescreen */
#menu-overlay, #loading-screen { 
    position: absolute; inset: 0; display: flex; justify-content: center; align-items: center; 
    background: #000; z-index: 3000; 
}
#loading-screen { flex-direction: column; z-index: 4000; } /* Ladescreen über alles andere */

.menu-box { text-align: center; color: white; border: 4px solid #f00; padding: 40px; background: #000; box-shadow: 0 0 20px #f00; }
h1 { color: #f00; font-size: 2.5rem; margin: 0; }
.btn { background: #111; color: #fff; border: 2px solid #444; padding: 15px; cursor: pointer; margin: 10px; width: 140px; font-weight: bold; }

/* Dialog Box */
#dialog-container { position: absolute; bottom: 40px; left: 50%; transform: translateX(-50%); width: 75%; background: rgba(0, 0, 0, 0.95); border: 2px solid #f0f; color: #f0f; padding: 20px; display: none; z-index: 2000; text-align: center; box-shadow: 0 0 15px #f0f; }
.poppy-name { color: #fff; font-size: 0.8rem; text-transform: uppercase; display: block; margin-bottom: 8px; }

/* Das springende P */
.jumping-p {
    font-size: 160px;
    color: #ffcc00;
    text-shadow: 6px 6px 0px #886600, 0 0 40px rgba(255, 204, 0, 0.6);
    animation: jumpP 0.5s infinite alternate ease-in-out;
}
@keyframes jumpP {
    from { transform: translateY(0) scaleY(1); }
    to { transform: translateY(-110px) scaleY(1.05); }
}
.loading-text { color: #ffcc00; font-size: 1.1rem; margin-top: 40px; letter-spacing: 4px; text-transform: uppercase; }

/* Mobile UI */
#mobile-ui { position: absolute; inset: 0; pointer-events: none; display: none; z-index: 1000; }
.joy-area { position: absolute; bottom: 40px; width: 110px; height: 110px; background: rgba(255,255,255,0.05); border: 1px solid rgba(255,255,255,0.3); border-radius: 50%; pointer-events: auto; }
#joy-move { left: 40px; } #joy-look { right: 40px; }
.knob { position: absolute; top: 35px; left: 35px; width: 40px; height: 40px; background: #fff; border-radius: 50%; }
.shoot-btns { position: absolute; bottom: 180px; right: 40px; pointer-events: auto; display: flex; flex-direction: column; gap: 15px; }
.s-btn { width: 70px; height: 70px; border-radius: 15px; border: 3px solid #000; }
#b-blue { background: #0088ff; } #b-red { background: #ff0000; }
#game-msg { position: absolute; top: 30px; width: 100%; text-align: center; color: #fff; font-size: 1.2rem; z-index: 500; }
